<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamnexters.bidulgi.client"
    android:versionCode="3"
    android:versionName="0.13" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!--
  IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
  to match your app's package name + ".permission.C2D_MESSAGE".
    -->

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launchericon01"
        android:label="비둘기"
        android:largeHeap="true"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".AgreeActivity"
            android:label="@string/title_activity_agree"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".ClientActivity"
            android:label="@string/title_activity_client" >
        </activity>
        <activity
            android:name=".DialogLongClickFriend"
            android:label="@string/title_activity_dialog_long_click_friend"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar">
        </activity>
        <activity
            android:name=".ClickFriendActivity"
            android:label="@string/title_activity_click_friend" >
        </activity>
        <activity
            android:name=".DialogAddFriend"
            android:label="@string/title_activity_dialog_add_friend"
            android:theme="@style/DialogAddFriendTheme" >
        </activity>
        <activity android:name="com.teamnexters.bidulgi.message.MessageSendActivity" >
        </activity>
        <activity
            android:name=".ClickMailActivity"
            android:label="@string/title_activity_click_mail" >
        </activity>
    </application>

</manifest>